<div>
    <input type="hidden" name="payment_system" value="<%=params.attr('payment_system')%>">
    <div class="form-group">
        <%= params.attr('payment_system')%>
    </div>
    <%= include( 'block/button.submit' ) %>
</div>