<div>
    <input type="hidden" name="payment_system" value="<%=params.attr('payment_system')%>">
    <div class="form-group">
    <div class="alert alert-default" role="alert">
        <div class="text-center text-bold">
            <i class="fa fa-envelope-o"></i>
            Check Your Email
        </div>
        An error occurred while processing your payment.
        Invalid card number.
        Check the card number you entered, or use another card.
    </div>
    </div>
    <%= include( 'block/button.submit' ) %>
</div>