<div class="form-group single has-feedback-left">
    <div class="relative">
        <input value="" type="tel" novalidate data-bind="expiry_date" name="expiry_date"
               class="form-control input-lg" maxlength="7"
               control="ui.cc.expiry" placeholder="<%= _('MM / YY') %>">
        <i class="form-control-feedback fa fa-calendar-o"  data-toggle="tooltip" title="<%= _('Valid thru is the expiry month and year indicated on the front side of your credit card') %>"></i>
    </div>
</div>