<div class="form-group-wrapper">
    <%= include('block/field.amount') %>
    <% params.each('custom',function(field,value,key){ %>
        <% if(field.attr('hidden')) { %>
            <%= customField(key,value) %>
        <% } else { %>
        <div class="form-group row">
            <div class="col-sm-12">
                <%= customField(key,value) %>
            </div>
        </div>
        <% } %>
    <% }) %>
</div>