<div class="page-wrapper">
    <div class="checkout-wrapper">
        <div class="checkout-form" control="ui.checkout.form">
            <div class="form-group">
            <div class="alert alert-danger" role="alert">
                <strong><i class="fa fa-warning"></i> 2013</strong>
                An error occurred while processing your payment.
                Invalid card number.
                Check the card number you entered, or use another card.
            </div>
            </div>
            <div class="form-group-shadow"></div>
            <div class="form-group form-group-button row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">
                        <% _('Back to merchant') %>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>